BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
